*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.reg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}
.big-container{
    background-image: linear-gradient(to right,#ff9005,#fbd808);
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.containerr{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #191d20;
    background-color: white;
    
}
h2{
    width:95%;
    color:#2f4f4f;
    font-weight: bold;
    margin: 5px 0;
  
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box input:hover{
    border: 1px solid black;
}

.input-box label,.gender-title{
    width:95%;
    color:#2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}
gender-title{
    font-size: 16px;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;


}
.gender-category{
    color:grey;
}
.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}
.gender-category label,.gender-category input{
    cursor: pointer;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    width:100%;
    margin-top:10px;
    padding:10px;
    display:block;
    font-size: 20px;
    color:#afff;
    border:none;
    border-radius:5px;
    background-image: linear-gradient(to right, #f9530b,#ff9005);
}
.button-container button:hover{
    background-image: linear-gradient(to right,#ff9005, #f9530b);
}
@media (max-width:600px) {
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width: 100px;
    }
   
    .gender-category{
        display: flex;
        justify-content: space-between;
        width:60%
    }
  /*  .content::-webkit-scrollbar{
        width:0;
    }*/
    
}

